hub.dckr.ir:443 {
    encode gzip
    reverse_proxy /* {
       to http://docker:5000
        max_fails 3 
        fail_duration 30s
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Port {server_port}
        header_up X-Forwarded-Protocol {scheme}
        transport http {
            keepalive 1024s
        }
    }
    tls {
        protocols tls1.2 
    }
}

gcr.dckr.ir:443 {
    encode gzip
    reverse_proxy /* {
       to http://gcr:5000
        max_fails 3 
        fail_duration 30s
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Port {server_port}
        header_up X-Forwarded-Protocol {scheme}
        transport http {
            keepalive 1024s
        }
    }
    tls {
        protocols tls1.2 
    }
}

ghcr.dckr.ir:443 {
    encode gzip
    reverse_proxy /* {
       to http://ghcr:5000
        max_fails 3 
        fail_duration 30s
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Port {server_port}
        header_up X-Forwarded-Protocol {scheme}
        transport http {
            keepalive 1024s
        }
    }
    tls {
        protocols tls1.2 
    }
}

quay.dckr.ir:443 {
    encode gzip
    reverse_proxy /* {
       to http://quay:5000
        max_fails 3 
        fail_duration 30s
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Port {server_port}
        header_up X-Forwarded-Protocol {scheme}
        transport http {
            keepalive 1024s
        }
    }
    tls {
        protocols tls1.2 
    }
}

k8sio.dckr.ir:443 {
    encode gzip
    reverse_proxy /* {
       to http://k8sio:5000
        max_fails 3 
        fail_duration 30s
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Port {server_port}
        header_up X-Forwarded-Protocol {scheme}
        transport http {
            keepalive 1024s
        }
    }
    tls {
        protocols tls1.2 
    }
}

k8sgcr.dckr.ir:443 {
    encode gzip
    reverse_proxy /* {
       to http://k8sgcr:5000
        max_fails 3 
        fail_duration 30s
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Port {server_port}
        header_up X-Forwarded-Protocol {scheme}
        transport http {
            keepalive 1024s
        }
    }
    tls {
        protocols tls1.2 
    }
}

gitlab.dckr.ir:443 {
    encode gzip
    reverse_proxy /* {
       to http://gitlab:5000
        max_fails 3 
        fail_duration 30s
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Port {server_port}
        header_up X-Forwarded-Protocol {scheme}
        transport http {
            keepalive 1024s
        }
    }
    tls {
        protocols tls1.2 
    }
}